window {
    border-radius: 0;
    min-height: 40px;
    background-color: transparent;
}

.mpris_popover, .power_popover {
    margin-right: 20px;
}

.mpris_page {
    padding: 15px;
}

.mpris_page image {
    border-radius: 20px;
}

.mpris_page_title_author_col {
    padding-left: 10px;
    font-weight: 700;
}

.mpris_page_progress {
    padding-top: 10px;
}

.workspace_button {
    padding: 0;
    margin: 0;
}

.workspaces {
    background-color: #1e1e2e;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
}

.workspace_button {
    background: none;
    outline: none;
    border: none;
}

.workspace_button_selected {
    color: pink;
}
